* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  font-family: Arial;
}

body > header {
  display: flex;
  background: #e66;
  align-items: center;
}

body > header > h1 {
  flex: 1;
  margin: 0;
}

body > header .user:not([hidden]) {
  display: flex;
  align-items: center;
}

/* Connecting */
body > .connecting:not([hidden]) { display: flex; }
body > .connecting {
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* Start */
body > .start:not([hidden]) { display: flex; }
body > .start {
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* Game */
.game:not([hidden]) { display: flex; }
.game { flex: 1; }

.game > .left, .game > .right {
  background: #eee;
  width: 250px;
}

body > .game > main {
  flex: 1;
}
